<div class="col-4">
<div class="well m-3">
                <h4 class="text-center">News Tags</h4>
                {% for tag in all_tags %}
                <a href="{% url 'tag' name=tag.name %}">{{ tag }}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}
                <p><a href="{% url 'all_tags' %}" class="btn btn-secondary m-2 w-100">All tags</a></p>
                {% if user.is_staff %}
    <p><a href="{% url 'add_news' %}" class="btn btn-secondary m-2 w-100">Add news</a><a href="{% url 'add_tags' %}" class="btn btn-secondary m-2 w-100">Add tags</a></p>
    {% endif %}
            </div>
</div>