{% extends 'main/base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="accordion" id="accordionCategories">
            {% for category in categories %}
            {% if category.is_parent %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ category.name }}" aria-expanded="true"
                            aria-controls="{{ category.name }}">
                        {{ category.name }}
                    </button>
                </h2>
                <div id="{{ category.name }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategories">
                    <div class="accordion-body">
                        <div class="list-group">
                                {% for child in categories %}
                                {% if child.parent.id == category.id %}
                                <a href="{% url 'category' category_slug=child.slug %}" class="list-group-item list-group-item-action bg-info-subtle">{{ child.name }}</a>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% elif category.is_main %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ category.name }}" aria-expanded="true"
                            aria-controls="{{ category.name }}">
                        {{ category.name }}
                    </button>
                </h2>
                <div id="{{ category.name }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategories">
                    <div class="accordion-body">
                        <div class="list-group">
                        <a href="{% url 'category' category_slug=category.slug %}" class="list-group-item list-group-item-action bg-info-subtle">{{ category.name }}</a>
                    </div>
                        </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}