<footer class="container-fluid text-center py-3 bg-primary">
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            <h6>Company</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="{% url 'index' %}" class="nav-link p-0">Home</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'contacts' %}" class="nav-link p-0">Contacts</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'about' %}" class="nav-link p-0">About us</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-3 mb-3">
            <h6>Information</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="{% url 'delivery_payment' %}" class="nav-link p-0">Delivery & Payment</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'return_policy' %}" class="nav-link p-0">Return Policy</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'promotions' %}" class="nav-link p-0">Promotions</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-3 mb-3">
            <h6>Popular categories</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Category 1</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Category 2</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Category 3</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-3 mb-3">
            <h6>Other</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="{% url 'partnership' %}" class="nav-link p-0">Partnership</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'vacancies' %}" class="nav-link p-0">Vacancies</a>
                </li>
                <li class="nav-item mb-2">
                    <p>+38-067-123-45-67</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex border-top">
        <p class="m-0">© 2024 Company, Inc. All rights reserved.</p>
    </div>
</footer>