{% load static %}
<nav class="navbar navbar-expand-lg sticky-top bg-success" style="color: white:">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'main/logo.jpg' %}" alt="Logo" width="50" height="50"
                 class="d-inline-block align-text-bottom"/>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active nav-size" aria-current="page" href="{% url 'index' %}">CORE</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle nav-size"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category 1</a></li>
                        <li><a class="dropdown-item" href="#">Category 2</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#">All categories</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle nav-size"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Site navigation
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'news_index' %}">News</a></li>
                        <li><a class="dropdown-item" href="{% url 'pc_builder_index' %}">Create your PC</a></li>
                        <li><a class="dropdown-item" href="{% url 'about' %}">About us</a></li>
                        <li><a class="dropdown-item" href="{% url 'contacts' %}">Contacts</a></li>
                        <li><a class="dropdown-item" href="{% url 'delivery_payment' %}">Delivery & Payment</a></li>
                        <li><a class="dropdown-item" href="{% url 'promotions' %}">Promotions</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-size" href="#">Cart</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div>

                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link nav-size">{{ user }}</a>
                    </li>
                    <li class="nav-item d-flex">
                        <form method="post" action="{% url 'logout' %}" style="margin: auto;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light">Logout</button>
                        </form>
                    </li>
                </ul>

                {% else %}

                <form class="d-flex" action="{% url 'login' %}" style="margin-left: 8px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Login</button>
                </form>

                {% endif %}

            </div>
        </div>
    </div>
</nav>
