{% load static %}
{% load custom_filters %}
<div class="card h-100 d-flex" style="width: 15rem;">
    <a href="{% url 'product' product_slug=product.slug %}">
        {% with product.images.first as img %}
        <div class="product-image-container">
            {% if img and img.thumbnail %}
            <img src="{{ img.thumbnail.url }}" alt="{{ img.alt_text }}">
            {% elif img %}
            <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
            {% else %}
            <img src="{% static 'errors/Product-Not-Found.png' %}" alt="Product not found">
            {% endif %}
        </div>
        {% endwith %}
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ product.name|truncatechars:40 }}</h5>
        $ {{ product.price|format100 }}
        <form method="post" action="{% url 'cart:cart_add' product_id=product.id %}" class="float-end">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="update" value="False">
            <button type="submit" style="border: none; background: none;">
                <img src="{% static 'main/Cart.jpg' %}" class="rounded" alt="Cart">
            </button>
        </form>
    </div>
</div>