{% load static %}
<div class="card" style="width: 18rem;">
    <a href="{% url 'product' product_slug=product.slug %}"><img src="{% static 'errors/Product-Not-Found.png' %}" class="card-img-top" alt=""></a>
    <div class="card-body">
        <h5 class="card-title">{{ product.name|truncatechars:40 }}</h5>
        ${{ product.real_price }}
            <form method="post" action="{% url 'cart:cart_add' product_id=product.id %}" class="float-end">
    {% csrf_token %}
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="update" value="False">
    <button type="submit" style="border: none; background: none;">
        <img src="{% static 'main/Cart.jpg' %}" class="rounded" alt="Cart">
    </button>
</form>
    </div>
</div>