{% extends 'main/base.html' %}
{% block content %}
<section>
    <div class="container py-4">
        <h1 class="mb-4">Return Policy</h1>
        <p>You can return products within <strong>14 days</strong> of purchase, if they are in original condition and
            packaging.</p>
        <ul>
            <li>Contact support to initiate return</li>
            <li>Refunds processed within 5 business days</li>
            <li>Shipping fees are non-refundable unless it’s our mistake</li>
        </ul>
    </div>
</section>
{% endblock %}